@import "compass/reset";
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
//@import "compass/css3";
@import "compass/css3/border-radius";

.brand {
	text-transform: uppercase;
	h5 {
		font-weight: 700;
		position: relative;
	}
	h5:before {
		position: absolute;
		content: "-";
		left: 0;
		top: -15px;
	}
	h5:after {
		position: absolute;
		content: "-";
		left: 0;
		bottom: -15px;
	}
}
.name {
	h1 {
		text-transform: uppercase;
		font-weight: 900;
		margin-top: 40px;
	}
}
.price {
	h2 {
		font-weight: 700;
		color: #EF055D;
		margin-top: 20px;
	}
}
.description {
	margin-top: 30px;
	.menu {
		ul {
			border-bottom: 2px solid red;
			padding-bottom: 15px;
			li {
			text-transform: uppercase;
			display: inline-block;
			margin-right: 10px;
			height: 100%;
			cursor: pointer;
			border-bottom: 2px solid transparent;
				&:hover {
					position: relative;
					border-bottom: 2px solid green;
					bottom: -17px;
				}
			}
		}
	}
}
.select-size {
	margin-top: 20px;
	h5 {
		text-transform: uppercase;

	}
	.circles {
		width: 20px;
	    height: 20px;
	    @include border-radius(10px);
	    border: 1px solid #000;
	    background-color: #fff;
	    color: #000;
	    font-size: 0.9em;
	    line-height: 20px;
	    text-align: center;
	    display: inline-block;
	    margin-right: 10px;
	    cursor: pointer;
	}
}
.circles-click {
	@extend .circles;
	background-color: #EF055D !important;
	color: #fff !important;
	border: none !important;
}