@import "compass/reset";
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
//@import "compass/css3";
@import "compass/css3/border-radius";

.brand {
	text-transform: uppercase;
	h5 {
		font-weight: 700;
		position: relative;
	}
	h5:before {
		position: absolute;
		content: "-";
		left: 0;
		top: -15px;
	}
	h5:after {
		position: absolute;
		content: "-";
		left: 0;
		bottom: -15px;
	}
}
.name {
	h1 {
		text-transform: uppercase;
		font-weight: 900;
		margin-top: 40px;
	}
}
.price {
	h2 {
		font-weight: 700;
		color: #EF055D;
		margin-top: 20px;
	}
}
.description {
	margin-top: 30px;
	position: relative;
	.menu {
		ul {
			border-bottom: 2px solid #F2F2F2;
			li {
			text-transform: uppercase;
			display: inline-block;
			margin-right: 10px;
			height: 100%;
			cursor: pointer;
			border-bottom: 2px solid transparent;
			position: relative;
			bottom: -2px;
			padding-bottom: 20px;
			color: #F2F2F2;
				&:hover {
					color: #252525;
					border-bottom: 2px solid #252525;
					
					

				}
			}
		}
	p {
		margin: 20px 0;
	}
	}
	.menu-active {
		color: #252525 !important;
		border-bottom: 2px solid #252525 !important;
	}
}
.description:before{
	position: absolute;
	content: "-";
	font-weight: 700;
	left: 0;
	top: -20px;
}
.description:after {
	position: absolute;
	content: "-";
	font-weight: 700;
	left: 0;
	bottom: -20px;
}
.select-size {
	margin-top: 40px;
	position: relative;
	h5 {
		text-transform: uppercase;

	}
	.circles {
		width: 20px;
	    height: 20px;
	    @include border-radius(11px);
	    border: 1px solid #000;
	    background-color: #fff;
	    color: #000;
	    font-size: 10px;
	    line-height: 18px;
	    text-align: center;
	    display: inline-block;
	    margin-right: 10px;
	    cursor: pointer;
	}
}
.select-size:after {
	position: absolute;
	content: "-";
	font-weight: 700;
	left: 0;
	bottom: -40px;
}
.circles-click {
	@extend .circles;
	background-color: #EF055D !important;
	color: #fff !important;
	border: none !important;
}
.cart {
	margin-top: 60px;
	input {
		text-transform: uppercase;
		border: none;
		background-color: #212121;
		color: #fff;
		font-size: 0.8em;
		font-weight: 700;
		padding: 8px 50px;
	}
}